.header {
    position: relative;
    background-color: $tint-blue;
    width: 100%;
    padding-bottom: 126px;
}

.header__navigation {
    display: flex;
    justify-content: end;
    margin: 0 160px;
    padding: 33px 0;
    position: relative;
    align-items: center;
}

.header__navigation::before {
    position: absolute;
    content: "{finsweet";
    color: #ffffff;
    width: 122px;
    height: 28px;
    left: 0;
    font-size: 24px;
    font-weight: 600;
}

.navigation__list {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding-right: 50px;
    color: #bbbbcb;
}

.navigation__item:not(:last-child) {
    margin-right: 32px;
}

.navigation__item:nth-child(5) {
    text-transform: uppercase;
}

.navigation__item:nth-child(1) {
    color: #ffffff;
}

.navigation__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #e5e5e5;
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 40px;
    background-color: inherit;
}
