.header {
    position: relative;
    margin-bottom: 87px;

    @media (max-width: 1300px) {
        margin-bottom: 20px;
    }

    .navigation {
        padding: 60px 3px;

        @media (max-width: 1300px) {
            padding: 20px 10px;
        }

        @media (max-width: 1300px) {
            padding: 10px 10px;
        }
    }
}