@mixin breakpoint {
    width: $fixed-width;
    margin: 0 auto;
    padding: 0 10px;

    @media (max-width: $fixed-width) {
        width: 100%;
        padding: 0 46px;
    }

    @media (max-width: $mobile-adaptive-width) {
        padding: 0 20px;
    }

    @media (max-width: $mobile-width) {
        padding: 0 10px;
    }
}

@mixin font-setting($size, $line-height, $font-width, $font-color) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $font-width;
    color: $font-color;
}

@mixin main-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
        font-weight: 800;
        font-size: 35px;
        line-height: 43px;
        text-transform: uppercase;
    }

    @media (max-width: $mobile-width) {
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
    }
}

@mixin second-title {
    font-weight: 800;
    font-size: 43px;
    line-height: 52px;
    text-transform: uppercase;
}

@mixin description {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    @media (max-width: $tablet-width) {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
    }

    @media (max-width: $mobile-width) {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}