$default-font: "Montserrat", sans-serif;

$royal-blue: #2405F2;
$dark-blue: #282938;
$grey: #F4F6FC;
$yellow: #FCD980;
$tint-blue: #1C1E53;
$accent: #EEF4FA;
$light-yellow: #FCD9801A;
$white: #ffffff;

$mobile-width: 490px;
$tablet-width: 980px;
$fixed-width: 1280px;
